<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Files List</title>
</head>
<body>
    <section class="hero bd-hero bd-is-basic is-info">
        <div class="hero-body">
          <p class="title">
            Available Files:
          </p>
          <p class="subtitle">
            <% if (user === 'admin') { %>
              Logged in as <strong><%= user %></strong>.Everyone's uploaded files will be listed here.
            <% } else { %>
              Logged in as <strong><%= user %></strong>.Your uploaded files will be listed here.
            <% } %>
          </p>
          <p class="subtitle is-6">
            Go back to <strong><a href="/dashboard">Dashboard</a></strong>
          </p>
        </div>
      </section>
      <section class="section is-small">
    <div class="content">
        <% for(let i=0; i< fileNames.length;i++){ %>            
            <p class="subtitle is-4 has-icons-left">
              <span class="icon is-small is-left">
                <li>
                    <% if (fileNames[i].endsWith('.txt')) { %>
                        <i class="fas fa-file-lines"></i>
                    <% } else if(fileNames[i].endsWith('.pdf')) { %>
                        <i class="fas fa-file-pdf fa-solid"></i>
                    <% } else { %>
                        <i class="fas fa-file-image"></i>
                    <% } %>
                    <%= fileNames[i] %>                    
                </li>
              </span>              
            </p>
            <div class="field is-grouped">
              <div class="control">
                <form action="/view/:<%= fileNames[i] %>">                
                  <button class="button is-info is-small is-light">View</button>
                </form>
              </div>
              <div class="control">
                <form action="/download/:<%= fileNames[i] %>">
                  <button class="button is-info is-small is-light">Download</button>
                </form> 
              </div>
              <% if(ownFileNames.includes(fileNames[i])) { %>
                <div class="control">
                  <form action="/removefile/:<%= fileNames[i] %>">
                    <button class="button is-danger is-small is-light">Delete</button>
                  </form> 
                </div>
              <% } %>
            </div>
          <% } %>
    </div>
    </section>
    <section class="section is-small "></section>
      <footer class="footer">
        <div class="content has-text-centered">
          <p>
            <strong>File Store</strong> by <a href="https://github.com/The-Debarghya">Debarghya Maitra</a>. The source code is not licensed. 
            The website content is not licensed. Generated with <a href="">EJS</a> and disgust.
          </p>
        </div>
      </footer>
</body>
</html>
